html {
    height: 100%;
    width: 100%;
  }
  
  /*Cookieeeees*/

.cookie-bar.fixed {
    position: fixed;
    bottom: 5px;
    left: 0;
    z-index: 100;

}

.cookie-bar {
    line-height: 24px;
    text-align: center;
    padding: 3px 0;
    width: 100%;
    background-color: #444;
    display:none;
}

.cb-enable {
    margin-left: 100px;
    color: white;
    padding: 5px;   
    font-family: serif;
    text-decoration: none;
    transition: .3s background-color;
}

.cb-enable:hover {
    background-color: darkcyan;
}

.cb-policy {
    color: white;
    text-decoration: underline;
}

.cb-policy:hover {
    color: darkcyan;
}